{% extends "index.html" %}

{% block body %}
<div class="d-flex justify-content-between align-items-center mx-4 mb-4 py-2">
    <h3 class="xxx">Update the Details!</h3>
    <a href="/dashboard/" class="ms-auto me-5">home</a>
    <a href="/logout/" class="ms-5">logout</a>
</div>
<form class="container" action="/rides_update/{{ride.id}}" method="post">
    {% with errors=get_flashed_messages(category_filter=["request"]) %}
        {% if errors %}
            {% for error in errors %}
                <p class="text-danger">{{error}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row mx-5 px-5 mb-3">
        <input type="hidden" name="destination" value="{{ride.destination}}">
        <input type="hidden" name="date" value="{{ride.date}}">
        <input type="hidden" name="ride_id" value="{{ride.id}}">
        <label for="pick_up_location" class="col-3 mb-3 py-2">Pick-up Location</label>
        <input type="text" name="pick_up_location" id="pick_up_location" class="col-9 mb-3 py-2"  value="{{ride.pick_up_location}}">
        <label for="details" class="col-3 mb-3 py-2">Details</label>
        <textarea name="details" id="details" rows="5" class="col-9 mb-3 py-2">{{ride.details}}</textarea>
        <input type="submit" value="Post" class="col-2 ms-auto">
    </div>
</form>

{% endblock body %}
